.clickable:hover {
    color: #0675CD;
    /* 호버 시 텍스트 색상을 변경 */
    cursor: pointer;
    /* 호버 시 커서를 포인터로 변경 */
}

.album-cover {
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
}

.custom-list-group-item {
    border-width: 2px;
    /* 테두리 두께 설정 */
    border-color: #dee2e6;
    /* 테두리 색상 설정 */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    /* 그림자 효과 설정 */
}

.playlistimage {
    display: flex;
    flex-direction: column;
}

.icon {
    display: flex;
    flex-direction: row;
}

.playlist-image {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}