<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musicplayer</title>
</head>
    뮤직플레이어 만들어주세욤욜
    <h1>Spotify Web Playback SDK Quick Start</h1>
    <button id="prevTrack">prev</button>
    <button id="togglePlay">Toggle Play</button>
    <button id="nextTrack">next</button>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = '{{accesstoken}}';
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); },
                volume: 0.5
            });

            // Ready
        player.addListener('ready', async ({ device_id }) => {
            console.log('Ready with Device ID', device_id);

            // Device ID를 백엔드로 전송
            await fetch('/api/v1/deviceid', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: device_id
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to send device ID to backend');
                }
                console.log('Device ID sent successfully to backend');
            })
            .catch(error => {
                console.error(error.message);
            });
            
            // 활성화된 디바이스 설정
            await fetch('/api/v1/activatedevice', {
                method: 'POST'
            });

            // 음악 설정
            await fetch('/api/v1/setmusic', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(tracklistValue)
            });

            console.log('All tasks completed.');
        });

        // Not Ready
        player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
        });

        player.addListener('initialization_error', ({ message }) => {
            console.error(message);
        });

        player.addListener('authentication_error', ({ message }) => {
            console.error(message);
        });

        player.addListener('account_error', ({ message }) => {
            console.error(message);
        });

        document.getElementById('togglePlay').onclick = function() {
            player.togglePlay();
        };

        document.getElementById('prevTrack').onclick = function() {
            player.previousTrack();
        };

        document.getElementById('nextTrack').onclick = function() {
            player.nextTrack();
        };

        player.connect();
    }
    </script>
    
    <form id="playlist-form" class="playlist-form" method="post" action="/api/v1/saveplaylist">
        <label for="playlist-name">플레이리스트 이름:</label>
        <input type="text" id="playlist-name" name="playlistName">
        <input type="hidden" id="tracklist" name="tracklist" value="{{tracklist}}">
        <button type="submit">플레이리스트 만들기</button>
    </form>
    <script>
        // 트랙리스트 hidden 필드의 값을 양쪽에 있는 대괄호를 제거하여 수정
        var tracklistInput = document.getElementById("tracklist");
        var tracklistValue = tracklistInput.value;
        tracklistValue = tracklistValue.substring(1, tracklistValue.length - 1);
        tracklistInput.value = tracklistValue;
    </script>
    
</body>
<script>
    document.getElementById("playlist-form").addEventListener("submit", function(event) {
        event.preventDefault(); // 폼 제출을 중단하여 페이지 이동을 막습니다.

        // form 데이터 가져오기
        var formData = new FormData(this);

        // AJAX 요청 보내기
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/v1/saveplaylist", true);
        xhr.onload = function() {
            // 요청 완료 후 처리할 작업
            if (xhr.status === 200) {
                // 요청이 성공하면 알림을 표시하거나 다른 작업을 수행할 수 있습니다.
                alert("플레이리스트가 만들어졌습니다!");
            } else {
                // 요청이 실패한 경우에 대한 처리
                alert("요청에 실패했습니다.");
            }
        };
        xhr.send(formData); // 폼 데이터를 서버로 전송합니다.
    });
</script>


</html>